<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    

    <title>WS Project</title>

    <!-- Bootstrap core CSS -->
    
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />


   
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          
          <a class="navbar-brand" href="/user/home/">WS Project</a>
          
          
           <ul class="nav navbar-nav">   
           
		           
		           <li class="dropdown">
				         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Group
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				        <li><a href="/group/new">Create Group</a></li>
				          <li><a href="/group/home"> Group Home</a></li>
				          
				        </ul>
		            </li>
           
           
           
           
           
           
	 		
	 	
	 		</ul>
          
          
          
          
       
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/home/">Accueil</a></li>
            <li><a href="#">Parametres</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Aide</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Recherche..." />
          </form>
        </div>
      </div>
    </nav>

  
        
    
    
    
      
    
     
      
      <div class="container " id="homeDiv">
	     <div class="jumbotron text-center">
	         
	          <h3>Welcome to User <span th:text="${user.email}"> </span></h3>
	     </div>
	
	
	</div>
      
      
      
       
        
        
        
    <div class="container text-center  " id="userDiv">
        	
        	
        <h1>Profil  User</h1>
           
        	
        	
        	
        	
           <table class="table table-striped" id="userlist">
        <thead>
        <tr>
           
            <th>lastName</th>
   		    <th>firstName</th>
   		    <th>biography</th>
   		           		
        </tr>
        </thead>
        <tbody>
         
        <tr>
            <td class="message" data-th-text="${user.firstName}"></td>
            <td class="message" data-th-text="${user.lastName}"></td>
            <td class="message" data-th-text="${user.biography}"></td>
          

            <td>
                <a th:href="@{'/user/edit/{id}'(id=${user.email})}" class="edit" th:attr="name=${user}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>
            
             <td>
                <a th:href="@{'/user/delete/{id}'(id=${user.email})}" class="delete" th:attr="name=${user}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>
            
            
            
            
            
            
            
            
            
            
            
            
            
        </tr>
        </tbody>
    </table>
   
      

    
    
    
    
    
    
    
<!-- 

  <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="..."></iframe>
    
    </div>

 -->  
 
 
		   
 
    
   </div>
        
     
        
        
        
        
      


    <script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
